.account-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 10px 0px;
}

.account-name-container{
    height: 70px;
    width: 90vw;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    flex: 2;
}

.account-info-container{
    height: auto;
    width: 90vw;
    background-color: #ffb92a;
    padding: 10px 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.account-parent-info{
    height: auto;
    width: 90vw;
    background-color: #e6e6e6;
    padding: 10px 10px;
    margin: 10px 0px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.child-info-header{
    display: flex;
    flex-direction: row;
    background-color: #ffb92a;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 0px 10px;
}

.child-info-header button{
    height: 30px;
    border: none;
    /* background-color: #3abbc9; */
    border-radius: 3%;
}

.account-bills-container{
    height: 70px;
    width: 90vw;
    background-color: #ed5414;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    font-size: 20px;
}

.account-bills-container button{
    height: 40px;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 3%;
}