.home-container{
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 15px 0px;
}

.home-post-container{
    width: 95vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px rgb(160, 160, 160);
}

.home-post-container input{
    width: 70%;
    height: 30px;
    background-color: rgb(241, 241, 241);
    border: none;
    word-wrap: break-word;
    padding: 0px 5px;
}

.home-post-container button{
    height: 30px;
    width: 20%;
    background-color: #ed5414;
    border: none;
    color: white;
    border-radius: 5%;
}